meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
link(rel='stylesheet' href='/stylesheets/bootstrap.css')
link(rel='stylesheet' href='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/style.css')
link(rel='stylesheet' href='/stylesheets/main.css')
link(rel='stylesheet' href='/stylesheets/markups.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js')
script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.7.1/dist/chartjs-plugin-streaming.min.js')
script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/7.*/viewer3D.js')

if analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=#{analytics}')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '#{analytics}');
script DEMO_URN = '#{urn}'
title Autodesk Forge: Digital Twin Demo