<h5>New Issue</h5>
<form id="issue-form">
    <div class="row mb-2">
        <label for="issue-part" class="col-sm-2 col-form-label">Part #</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="issue-part" value="123">
        </div>
    </div>
    <div class="row mb-2">
        <label for="issue-title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="issue-title" value="Issue Title">
        </div>
    </div>
    <div class="row mb-2">
        <label for="issue-author" class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="issue-author" value="John Doe">
        </div>
    </div>
    <div class="row mb-2">
        <label for="issue-position-x" class="col-sm-1 col-form-label">X</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="issue-position-x" value="0.0">
        </div>
        <label for="issue-position-y" class="col-sm-1 col-form-label">Y</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="issue-position-y" value="0.0">
        </div>
        <label for="issue-position-z" class="col-sm-1 col-form-label">Z</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="issue-position-z" value="0.0">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
<div id="issue-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>...</p>
            </div>
        </div>
    </div>
</div>