div.alert.alert-secondary Select a single part in the 3D view

h5 Maintenance Instructions
embed(src="", type="application/pdf")
footer.blockquote-footer Source:
  cite https://www.researchgate.net/publication/242412117

h5 Specifications
div
  #viewer2d
footer.blockquote-footer Source:
  cite https://www.aircontrolindustries.com