div.alert.alert-secondary Select a single part in the 3D view

h5 Current Temperature
svg#part-current-temperature(width='250', height='100')
  defs
    mask#gauge-mask
      circle(fill='white', cx='125', cy='100', r='75')
      circle(fill='black', cx='125', cy='100', r='50')
  polygon(points='125,100 0,100 0,0', fill='green', mask='url(#gauge-mask)')
  polygon(points='125,100 0,0 250,0', fill='orange', mask='url(#gauge-mask)')
  polygon(points='125,100 250,0 250,100', fill='red', mask='url(#gauge-mask)')
  text(fill='gray', x='25', y='100') 0째
  text(fill='gray', x='40', y='50') 25째
  text(fill='gray', x='190', y='50') 75째
  text(fill='gray', x='210', y='100') 100째
  polygon#gauge-needle(points='125,105 120,100 100,25 130,100', fill='black', transform='rotate(-30,125,125)')

h5 Temperature History
canvas#part-temperatures-chart(width='100%')

form#temperature-alert-form
  h5 Temperature Alert
  .row.mb-2
    label.col-sm-2.col-form-label(for='temperature-alert-part') Part #
    .col-sm-2
      input#temperature-alert-part.form-control-plaintext(type='text' readonly='' value='123')
    label.col-sm-4.col-form-label(for='temperature-alert-max') Max Temp [C]
    .col-sm-4
      input#temperature-alert-max.form-control(type='text' value='')
  button.btn.btn-primary.mr-2 Set
  button.btn.btn-secondary Clear