<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <div id="container">
        <div id="header">
            <img src="/images/forge-logo-gray.png" alt="Autodesk Forge Digital Twin Demo">
            <h>Digital Twin Demo</h>
        </div>
        <div id="viewer"></div>
        <div id="sidebar">
            <% include partials/sidebar %>
        </div>
    </div>
    <% include partials/footer %>
</body>

</html>