doctype html
head
  include partials/head.pug
#container
  #header
    img(src='/images/forge-logo-gray.png' alt='Autodesk Forge Digital Twin Demo')
    h Digital Twin Demo
  #viewer
  #sidebar
    include partials/sidebar.pug
  include partials/footer.pug