@font-face {
    font-family: 'Artifakt';
    src: url('/fonts/Artifakt_Element_Regular.woff2') format('woff2');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Artifakt;
}

body {
    margin: 0 1em 0 1em;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#header > * {
    padding: 0.5em;
}

#header > img {
    height: 30px;
    box-sizing: content-box;
}

#header > h {
    font-size: 1.5em;
}

#viewer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: relative;
    margin: 0 1em 1em 0;
    box-shadow: 0 0 1em black;
    overflow: hidden;
}

#sidebar {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    margin-top: 1em;
    overflow-y: scroll;
}

#tabs {
    margin-bottom: 1em;
}

div.tab-pane h5 {
    margin-top: 1em;
}

.adsk-viewing-viewer.dark-theme .adsk-button:hover,
.adsk-viewing-viewer.dark-theme .adsk-button.active {
    color: #EBB30B;
}
.adsk-viewing-viewer.dark-theme .adsk-button:hover {
    border: 1px solid #EBB30B;
}

#maintenance-instructions embed {
    width: 100%;
    height: 300px;
}

#viewer2d {
    position: relative;
    height: 300px;
}